header{
    background-color: black;
    padding-bottom: 50px;
}
div{
    background-color: gray;
}
h1{
    background: aliceblue;
    text-align: center;
}
footer{
    background:skyblue;
}
